<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Morse Code Translator</title>

    {% block css_local %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/toastr/css/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    {% endblock css_local %}
  </head>
  <body>

    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
      <a class="navbar-brand" href="#">Morse Code</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-md-auto mr-5">
          <li class="nav-item">
            <a class="nav-link" href="#">API Documentation</a>
          </li>
        </ul>
      </div>
    </nav>
    {% endblock nav %}

    {% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 text-center mt-5">
          <h3>
            Morse Code Translation Table
          </h3>
          <img alt="Table Morse Translator" src="{{ url_for('static', filename='table_morse_translator.png') }}" />
        </div>
        <div class="col-md-7">
          <div class="jumbotron">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="morse"><h3>Insert Morse Code</h3></label>
                  <textarea class="form-control" id="morse" name="morse" rows="6">
                  </textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="float-right mb-4">
                  <button class="btn btn-primary btn-lg text-white" id="clear">Clear All</button>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="message"><h3>Decoded Morse Code</h3></label>
                  <textarea class="form-control" id="message" name="message" rows="6">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    {% endblock content %}

    {% block js_local %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/toastr/js/toastr.min.js') }}"></script>
    {% endblock js_local %}

    {% block js_external %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    {% endblock js_external %}

    {% block script %}
    <script>
      $(document).ready(function () {
        // toastr configuration
        toastr.options.preventDuplicates = true;

        const morseText = $('#morse');
        const messageText = $('#message');

        // start socket plugin
        const socket = io();

        // remove initial whitespace
        morseText.val('');
        messageText.val('');

        try {
          socket.on('connect', function() {
            // overflow defaut keypress event
            morseText.on('keypress', function (event) {
              var regex = new RegExp("^[-. ]+$");
              var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
              if (!regex.test(key)) {
                event.preventDefault();
                toastr.warning('Only the characters ".", "-" and " " are allowed in morse code!');
                return false;
              } else {
                socket.emit('decrypt_morse', {message: morseText.val() + key});
              }
            });

            // overflow defaut keyup event
            morseText.on('keyup', function (event) {
              socket.emit('decrypt_morse', {message: morseText.val()});
            });

            socket.on("decrypted_morse", (data) => {
              if (data.code != 200) {
                toastr.error(code.message_arg);
              } else {
                messageText.val(data.message);
              }
            });
          });
        } catch(e) {
          console.log(e);
          toastr.error('Error 500. Internal Server Error. Try reload this page to connect again!');
        }

        $("#clear").on('click', function (event) {
          morseText.val('');
          messageText.val('');
        });

      });
    </script>
    {% endblock script %}

  </body>
</html>